body{
    margin: 0%;
    background-image: url(./background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherInfo{
    background-color: rgba(7, 177, 255, 0.5);
    margin: 25em;
    align-items: center;
    padding: 24px;
    border-radius: 15px;
}